body{
  margin:0;
}

h1.tituloprincipal {
  display: block;
  width:400px;
	color:#ffff00;
	font-family:times new roman;
	font-size:30px;
	font-style:italic;
	font-weight:bold;
  margin:0 auto;    
}

h2{
    margin:0 auto; 
}

div#cabecera {
 /* background-color:#0000ff; */
    position:relative;
    color:#ffff00;
    text-align:center;
    margin:0 auto;
}

div.pie {
    position:relative;
    color:#ffff00;
    text-align:center;
    margin:0 auto;
}

div#contenedorform {
  width:500px; 
  margin-left:20px; 
  margin-top:10px;
  background-color:#ffe;
  border:1px solid #CCC;
  padding:10px 0 10px 0;
}

div#contenedorform form label {
  width:120px; 
  float:left;
  font-family:verdana;
  font-size:14px;
}

div.cuadroComentario {
  overflow:auto;
  position:relative;
  margin:10px 30px;
  opacity:0.9;
}

div.cuadroComentDatos {
  position:relative;
  width:15%;
  float:left;
  background:#4169E1;
  height:200px;
  font-weight:bold;
}

div.titulo {
  font-weight:bold;
  background:#FFA500;
  text-align: center;
}

div.cuadroComentComent {
  position:relative;
  width:85%;
  float:left;  
  height:200px;
  background:#ADD8E6;
}

a.editarDatos {
  -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
  background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
  background-color:#3d94f6;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #337fed;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:65px;
  line-height:65px;
  width:145px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #1570cd;
}
a.editarDatos:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
  background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
  background-color:#1e62d0;
}a.editarDatos:active {
  position:relative;
  top:1px;
}

div.editarDatosLeft {
  position:relative;
  width:25%;
  float:left;  
  text-align:center;
  font-size:20px;
}
div.editarDatosMid {
  position:relative;
  width:48%;
  float:left;  
  text-align:center;
  font-size:20px;
}
div.editarDatosRight {
  position:relative;
  width:20%;
  float:left;  
  text-align:center;
  font-size:20px;
}

a {
    margin-left:20px;
}


a.log {
    color:#FFFFFF;
    display: block;
    position:absolute;
    top:10px;
    right:10px;
    width:100px;
    height:20px;
    margin:0 auto;
}

a.reg {
    color:#FFFFFF;
    display: block;
    position:absolute;
    top:35px;
    right:10px;
    width:100px;
    height:20px;
    margin:0 auto;
}

table {
    width:100%;
    border-collapse:collapse;
    background-color:#B0E0E6;
    border:1px solid blue;
    color:#000;
}

td {
    border: 1px solid blue;
}

div.oculto {
    display: none;
    margin-left:20px;
    margin-right:844px;
    background-color:#B0E0E6;
}

img.escudo {
  color:#FFFFFF;
  display: block;
  position:absolute;
  z-index: 2;
  top:10px;
  left:10px;
  width:55;
  height:55;
  margin:0 auto;
}

 
body { 
background-image: url('../image/fondo.jpg'); 
background-repeat: no-repeat; 
background-size: 100%; 
} 

div.editarForm {
  width:500px; 
  margin-left:20px; 
  margin-top:10px;
  background-color:#ffe;
  border:1px solid #CCC;
  padding:10px 0 10px 0;
}


.borrar {
  -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -webkit-border-top-left-radius:42px;
  -moz-border-radius-topleft:42px;
  border-top-left-radius:25px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:24px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0px;
  border:6px solid #d83526;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  font-style:normal;
  height:20px;
  line-height:20px;
  width:20px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #b23e35;
}
.borrar:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
  background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
  background-color:#ce0100;
}

.borrar:active {
  position:relative;
  top:1px;
}