
		<div class="pie">
		{if $seccion=="index"}
			{if $smarty.session.usuario==""}
				<h3><b> Debe estar logueado para comentar. </b></h3>
			{else}
				<a style="color:#fff" href="comentar.php">Comentar</a>
			{/if}
		{/if}
		</div>
	</body>
</html>