{include file="header.tpl" subtitulo="Subir Foto" titulo="Subir Foto" seccion="editarDatos"}


<br><br>

<div class="editarForm">
	<form action="editFoto.php" method="post" enctype="multipart/form-data">
		<input type="file" name="foto" id="foto"><br>
		<input type="submit" name="submit" value="Submit">
	</form>
</div>

<a href="index.php">Volver a Principal</a>

{include file="footer.tpl" seccion="editarDatos"}