{include file="header.tpl" subtitulo="Login" titulo="Formulario de Login" seccion="login"}

	<div id="contenedorform">
	<form action="login.php" method="POST" name="login" onSubmit="return verificarLogin();">
		<label>Usuario:</label> <input type="text" name="usuario" id="usuario" /> <br />
		<label>Password:</label> <input type="password" name="password" id="password" /> <br />
		<input type="submit" value="OK" >
	</form>
</div>

<div class="oculto" id="oculto">
</div>

<a href="index.php">Volver a Principal</a>

{include file="footer.tpl" seccion="login"}


