{include file="header.tpl" subtitulo="Editar Nombre Usuario" titulo="Editar Nombre Usuario" seccion="editarDatos"}

<div id="contenedorform">
		<form action="editUsuario.php" method="POST" name="editUsuario">
			<label>Nuevo Nombre Usuario:</label> <input type="text" name="nuevoNombre" id="nuevoNombre" /> <br />			
			<input type="submit" value="Editar">
		</form>
	</div>


<a href="index.php">Volver a Principal</a>

{include file="footer.tpl" seccion="editarDatos"}