{include file="header.tpl" subtitulo="Registro" titulo="Formulario de Registro" seccion="registro"}

<div id="contenedorform">
	<form action="registro.php" method="POST" name="login" onSubmit="return verificarRegistro();">
		<label>Usuario:</label> <input type="text" name="usuario" id="usuario" /> <br />
		<label>Password:</label> <input type="password" name="password" id="password" /> <br />
		<label>Confirmar:</label> <input type="password" name="confirmar" id="confirmar" /> <br />
  		<label>Mail:</label> <input type="email" name="mail" id="mail" /> <br />
		<input type="submit" value="REGISTRARSE">
	</form>
</div>

<div class="oculto" id="oculto">
</div>

<a href="index.php">Volver a Principal</a>

{include file="footer.tpl" seccion="registro"}