{include file="header.tpl" subtitulo="Editar Password" titulo="Editar Password" seccion="editarDatos"}

<div class="editarForm">
	<form action="editPassword.php" method="POST" name="editPassword">
		<label>Nuevo Password:</label> <input type="text" name="nuevoPassword" id="nuevoPassword" /> <br />
		<label>Confirmar Password:</label> <input type="text" name="nuevoNPasswordC" id="nuevoPasswordC" /> <br />			
		<input type="submit" value="Editar">
	</form>
</div>

<a href="index.php">Volver a Principal</a>

{include file="footer.tpl" seccion="editarDatos"}