{include file="header.tpl" subtitulo="Edicion de Datos" titulo="Formulario de Edicion de Datos" seccion="editData"}
	
	<br> <br> <br> <br> <br> <br>
	<div>
		<div class="editarDatosLeft">
			<a class="editarDatos" href="editUsuario.php"> Modificar Usuario </a>
		</div>
		<div class="editarDatosMid">
			<a class="editarDatos" href="editPassword.php"> Modificar Password</a>
		</div>
		<div class="editarDatosRight">
			<a class="editarDatos" href="editFoto.php"> Subir Nueva Foto</a>
		</div>
	</div>	
	<br> <br> <br> <br> <br> <br>
	<div style="position:absolute;margin-left:600px">
		<a style="color:white" href="index.php">Volver a Principal</a>
	</div>

{include file="footer.tpl" seccion="editData"}