{include file="header.tpl" subtitulo="Comentario" titulo="Formulario de Comentario"}

	<div id="contenedorform">
		<form method="post" action="comentar.php" onSubmit="return verificarComentario();">
			<label>Titulo:</label>	<input type="text" name="titulo" id="titulo"/>
			<br>
			<label>Comentario:</label>	<textarea name="comentario" id="comentario"></textarea>
			<br>			
			<input type="submit" value="Comentar">			
		</form>
	</div>

	<div class="oculto" id="oculto">
		</div>

{include file="footer.tpl" seccion="comentario"}